@model LanguageViewModel 
<div class="d-flex justify-content-center"><h2>Languages</h2></div>
<div class="d-flex container flex-wrap  gap-4 mt-2">
    @foreach(var i in Model.Attachments){
        <div class="card" style="width: 18rem;">
            @if (!@String.IsNullOrEmpty(i.File))
            {
                <img src="~/images/@i.File
                " class="card-img-top" alt="..." />
            }
            else{
            <img src="~/noimage.png" class="card-img-top" alt="..." />
            }
            
  <div class="card-body">
    <h5 class="card-title">@i.Name</h5>
    <p class="card-text">@i.Description</p>
    <a href="/Languages/@i.Name/@i.Id" class="btn btn-primary">See Programs</a>
  </div>
   
</div>
    }
    </div>

