<div class="col-3  adminside   shadow p-3  bg-light rounded text-dark p-4">
    <ul class="nav mynav list-unstyled flex-column p-3 d-flex text-dark w-100 ">
        <li class="pb-2"><a class="text-black text-decoration-none" href="/Admin/Languages">Languages</a></li>
        <li class="pb-2"><a class="text-black text-decoration-none" href="/Admin/Type">Type</a></li>
        <li class="pb-2"><a class="text-black text-decoration-none" href="/Admin/Prog">Programs</a></li>
        <li class="pb-2"><a>C</a></li>
    </ul>
</div>