@model List<List<object>>

<div class="h-100 ">

    <div class="row h-100 ml-0 type">
        <partial name="_AdminLayout.cshtml" />
        <div class="col d-flex  flex-column justify-content-center align-content-center py-5">
            <div class="d-flex justify-content-center"><a class="text-white text-decoration-none btn btn-primary " href="/Admin/TypeAdd">Add Types</a></div>
            <table id="example" class="table table-striped p-3" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>No. of Languages</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model) { 
                    <tr>
                            <td>@i[0]</td>
                            <td>@i[1].ToString().Substring(0, Math.Min(100, i[1].ToString().Length))</td>
                            <td>@i[2]</td>
                            <td><a href="/Admin/Type/Edit/@i[0]" class="btn btn-info mb-2 check">Edit</a><br /><a href="/Admin/Type/Delete/@i[0]" class="btn btn-danger check ">Delete</a></td>
                            
                    </tr>
                     }
                </tbody>
            </table>


        </div>
    </div>
</div>